<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Supplier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="text-align: center; font-size: 24px;">
        <h1 class="my-4">Add New Order Detail</h1>

        <!-- Form to Add Order Detail -->
        <h2>Add Order Detail</h2>
        <form method="POST" action="{{ url_for('add_order_detail') }}">
            {{ order_detail_form.hidden_tag() }}
            <div class="form-group">
                {{ order_detail_form.order_id.label }}
                {{ order_detail_form.order_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ order_detail_form.product_id.label }}
                {{ order_detail_form.product_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ order_detail_form.quantity.label }}
                {{ order_detail_form.quantity(class="form-control") }}
            </div>
            <div class="form-group">
                {{ order_detail_form.purchase_price.label }}
                {{ order_detail_form.purchase_price(class="form-control") }}
            </div>
            <div class="form-group">
                {{ order_detail_form.submit(class="btn btn-primary") }}
            </div>
        </form>

        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>
</body>
</html>
