<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Supplier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="text-align: center; font-size: 24px;">
        <h1 class="my-4">Add New Flower</h1>

        <!-- Form to Add Flower -->
        <h2>Add Flower</h2>
        <form method="POST" action="{{ url_for('add_flower') }}">
            {{ flower_form.hidden_tag() }}

            <div class="form-group">
                {{ flower_form.shelf_life.label }}
                {{ flower_form.shelf_life(class="form-control") }}
            </div>
            <div class="form-group">
                {{ flower_form.description.label }}
                {{ flower_form.description(class="form-control") }}
            </div>
            <div class="form-group">
                {{ flower_form.price.label }}
                {{ flower_form.price(class="form-control") }}
            </div>
            <div class="form-group">
                {{ flower_form.submit(class="btn btn-primary") }}
            </div>
        </form>

        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>
</body>
</html>
