<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Supplier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="text-align: center; font-size: 24px;">
        <h1 class="my-4">Add Supplier</h1>

        <!-- Form to Add Supplier -->
        <form method="POST" action="{{ url_for('add_supplier') }}">
            {{ supplier_form.hidden_tag() }}

            <div class="form-group">
                {{ supplier_form.company_name.label }}
                {{ supplier_form.company_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ supplier_form.contact_phone.label }}
                {{ supplier_form.contact_phone(class="form-control") }}
            </div>
            <div class="form-group">
                {{ supplier_form.cooperation_date.label }}
                {{ supplier_form.cooperation_date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ supplier_form.submit(class="btn btn-primary") }}
            </div>
        </form>

        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>
</body>
</html>
