<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Supplier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="text-align: center; font-size: 24px;">
        <h1 class="my-4">Add New Payment</h1>

        <!-- Form to Add Payment -->
        <h2>Add Payment</h2>
        <form method="POST" action="{{ url_for('add_payment') }}">
            {{ payment_form.hidden_tag() }}
            <div class="form-group">
                {{ payment_form.order_id.label }}
                {{ payment_form.order_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ payment_form.payment_date.label }}
                {{ payment_form.payment_date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ payment_form.amount.label }}
                {{ payment_form.amount(class="form-control") }}
            </div>
            <div class="form-group">
                {{ payment_form.payment_method.label }}
                {{ payment_form.payment_method(class="form-control") }}
            </div>
            <div class="form-group">
                {{ payment_form.submit(class="btn btn-primary") }}
            </div>
        </form>

        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>
</body>
</html>
