<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container">
    <h1 class="my-4">Admin Dashboard</h1>

    <!-- Suppliers Section -->
    <h2>Suppliers</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Company Name</th>
                <th>Contact Phone</th>
                <th>Cooperation Date</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplier_id }}</td>
                <td>{{ supplier.company_name }}</td>
                <td>{{ supplier.contact_phone }}</td>
                <td>{{ supplier.cooperation_date }}</td>
                 <td>
                <a href="{{ url_for('edit_supplier', supplier_id=supplier.supplier_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button to Add Supplier -->
    <a href="{{ url_for('add_supplier') }}" class="btn btn-primary my-3">Add Supplier</a>

    <!-- Similar sections for other entities like Employee, Client, etc. -->
    <h2>Employees</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Contract Date</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.employee_id }}</td>
                <td>{{ employee.employee_name }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.contract_date }}</td>
                <td>
                <a href="{{ url_for('edit_employee', employee_id=employee.employee_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('add_employee') }}" class="btn btn-primary my-3">Add Employee</a>

    <!-- Deliveries -->
    <h2>Deliveries</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Delivery ID</th>
                <th>Delivery Date</th>
                <th>Supplier ID</th>
                <th>Employee ID</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.delivery_id }}</td>
                <td>{{ delivery.delivery_date }}</td>
                <td>{{ delivery.supplier_id}}</td>
                <td>{{ delivery.employee_id }}</td>
                <td>
                <a href="{{ url_for('edit_delivery', delivery_id=delivery.delivery_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('add_delivery') }}" class="btn btn-primary my-3">Add Delivery</a>

    <!-- Bouquets -->
    <h2>Bouquets</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bouquet ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for bouquet in bouquets %}
            <tr>
                <td>{{ bouquet.bouquet_id }}</td>
                <td>{{ bouquet.name }}</td>
                <td>{{ bouquet.price }}</td>
                <td>{{ bouquet.description }}</td>
                <td>
                <a href="{{ url_for('edit_bouquet', bouquet_id=bouquet.bouquet_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('add_bouquet') }}" class="btn btn-primary my-3">Add Bouquet</a>

    <!-- Flowers -->
    <h2>Flowers</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Flower ID</th>
                <th>Shelf Life (Days)</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for flower in flowers %}
            <tr>
                <td>{{ flower.flower_id }}</td>
                <td>{{ flower.shelf_life }}</td>
                <td>{{ flower.description }}</td>
                <td>{{ flower.price }}</td>
                <td>
                <a href="{{ url_for('edit_flower', flower_id=flower.flower_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('add_flower') }}" class="btn btn-primary my-3">Add Flower</a>

    <!-- Additional Materials Section -->
    <h2>Additional Materials</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Material ID</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for material in additional_materials %}
            <tr>
                <td>{{ material.material_id }}</td>
                <td>{{ material.description }}</td>
                <td>
                <a href="{{ url_for('edit_additional_material', material_id=material.material_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('add_material') }}" class="btn btn-primary my-3">Add Material</a>

    <!-- Products Section -->
        <h2>Products</h2>
        <!-- Table displaying all products -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Bouquet</th>
                    <th>Flower</th>
                    <th>Material</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.unit_price }}</td>
                    <td>{{ product.bouquet.name }}</td>
                    <td>{{ product.flower.description }}</td>
                    <td>{{ product.material.description  }}</td>
                    <td>
                <a href="{{ url_for('edit_product', product_id=product.product_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <a href="{{ url_for('add_product') }}" class="btn btn-primary my-3">Add Product</a>


    <!-- Clients Section -->
    <h2>Clients</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Phone Number</th>
                <th>First Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.client_id }}</td>
                <td>{{ client.full_name }}</td>
                <td>{{ client.age }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.first_order_date }}</td>
                <td>
                <a href="{{ url_for('edit_client', client_id=client.client_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('add_client') }}" class="btn btn-primary my-3">Add Client</a>


    <!-- Orders Section -->
    <h2>Orders</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Client</th>
                <th>Employee</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.client.full_name }}</td>
                <td>{{ order.employee.employee_name }}</td>
                <td>{{ order.order_status }}</td>
                <td>
                <a href="{{ url_for('edit_order', order_id=order.order_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_order') }}" class="btn btn-primary my-3">Add Order</a>

           <!-- Payments Section -->
    <h2>Payments</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Order ID</th>
                <th>Payment Date</th>
                <th>Amount</th>
                <th>Payment Method</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.payment_id }}</td>
                <td>{{ payment.order_id }}</td>
                <td>{{ payment.payment_date }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.payment_method }}</td>
                <td>
                <a href="{{ url_for('edit_payment', payment_id=payment.payment_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_payment') }}" class="btn btn-primary my-3">Add Payment</a>


    <!-- Delivery Details Section -->
    <h2>Delivery Details</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Delivery Detail ID</th>
                <th>Delivery ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Purchase Price</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery_detail in delivery_details %}
            <tr>
                <td>{{ delivery_detail.delivery_detail_id }}</td>
                <td>{{ delivery_detail.delivery_id }}</td>
                <td>{{ delivery_detail.product_id }}</td>
                <td>{{ delivery_detail.quantity }}</td>
                <td>{{ delivery_detail.purchase_price }}</td>
                <td>
                <a href="{{ url_for('edit_delivery_detail', delivery_detail_id=delivery_detail.delivery_detail_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_delivery_detail') }}" class="btn btn-primary my-3">Add Delivery Detail</a>


    <!-- Order Details Section -->
    <h2>Order Details</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order Detail ID</th>
                <th>Order ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Purchase Price</th>
            </tr>
        </thead>
        <tbody>
            {% for order_detail in order_details %}
            <tr>
                <td>{{ order_detail.order_detail_id }}</td>
                <td>{{ order_detail.order.order_id }}</td>
                <td>{{ order_detail.product.product_name }}</td>
                <td>{{ order_detail.quantity }}</td>
                <td>{{ order_detail.purchase_price }}</td>
                <td>
                <a href="{{ url_for('edit_order_detail', order_detail_id=order_detail.order_detail_id) }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_order_detail') }}" class="btn btn-primary my-3">Add Order Detail</a>

</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
