<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li><a  class="nav-link" href="{{ url_for('admin_action') }}">Вернуться</a></li>
            </ul>
        </div>
    </nav>
            <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

    <div class="container">
        <h1 class="my-4">Admin Dashboard</h1>
          <!-- Suppliers Section -->
        <h2>Поставщики</h2>
        <table class="table table-bordered" id="suppliers">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название компании</th>
                    <th>Номер телефона</th>
                    <th>Дата сотрудничества</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.supplier_id }}</td>
                        <td>{{ supplier.company_name }}
                        <a class="toggle-details" data-target="supplier-{{ supplier.supplier_id }}" style="cursor: pointer">Просмотреть поставки</a></td>
                        <td>{{ supplier.contact_phone }}</td>
                        <td>{{ supplier.cooperation_date }}</td>
                        <td><a href="{{ url_for('edit_supplier', supplier_id=supplier.supplier_id) }}" class="btn btn-sm btn-primary">Edit</a></td>
                        <td>
                            <form action="{{ url_for('delete_supplier', supplier_id=supplier.supplier_id) }}" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <tr class="details" id="supplier-{{ supplier.supplier_id }}" style="display: none">
                        <td colspan="5">
                           <h3>Поставки поставщика {{ supplier.company_name }}</h3>
                            {% if supplier.deliveries.all() %}
                                <table class="table table-bordered">
                                <thead>
                                  <tr>
                                       <th>ID</th>
                                        <th>Дата поставки</th>
                                        <th>ID сотрудника</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   {% for delivery in supplier.deliveries.all() %}
                                     <tr>
                                        <td>{{ delivery.delivery_id }}</td>
                                        <td>{{ delivery.delivery_date }}</td>
                                         <td>{{ delivery.employee_id }}</td>
                                     </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                                {% else %}
                                 <p>У поставщика нет поставок</p>
                             {% endif %}
                         </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
         <a href="{{ url_for('add_supplier') }}" class="btn btn-primary my-3">Add Supplier</a>

    <!-- Employees Section -->
    <h2>Сотрудники</h2>
    <table class="table table-bordered" id="employees">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Должность</th>
                <th>Зарплата</th>
                <th>Дата контракта</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.employee_id }}</td>
                    <td>{{ employee.employee_name }}
                     <a class="toggle-details" data-target="employee-{{ employee.employee_id }}" style="cursor: pointer">Просмотреть поставки/заказы</a></td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>{{ employee.contract_date }}</td>
                     <td>
                        <a href="{{ url_for('edit_employee', employee_id=employee.employee_id) }}" class="btn btn-sm btn-primary">Edit</a>
                     </td>
                     <td>
                        <form action="{{ url_for('delete_employee', employee_id=employee.employee_id) }}" method="post">
                             <button type="submit">Delete</button>
                        </form>
                     </td>
                </tr>
                <tr class="details" id="employee-{{ employee.employee_id }}" style="display: none">
                    <td colspan="6">
                       <h3>Поставки сотрудника {{ employee.employee_name }}</h3>
                         {% if employee.deliveries.all() %}
                            <table class="table table-bordered">
                            <thead>
                              <tr>
                                   <th>ID</th>
                                    <th>Дата поставки</th>
                                    <th>ID поставщика</th>
                               </tr>
                            </thead>
                           <tbody>
                                 {% for delivery in employee.deliveries.all() %}
                                   <tr>
                                        <td>{{ delivery.delivery_id }}</td>
                                        <td>{{ delivery.delivery_date }}</td>
                                        <td>{{ delivery.supplier_id }}</td>
                                    </tr>
                                 {% endfor %}
                            </tbody>
                            </table>
                            {% else %}
                                 <p>У сотрудника нет поставок</p>
                         {% endif %}
                        <h3>Заказы сотрудника {{ employee.employee_name }}</h3>
                           {% if employee.orders.all() %}
                            <table class="table table-bordered">
                            <thead>
                              <tr>
                                   <th>ID</th>
                                    <th>Дата заказа</th>
                                    <th>ID клиента</th>
                                    <th>Статус заказа</th>
                                </tr>
                            </thead>
                             <tbody>
                                {% for order in employee.orders.all() %}
                                  <tr>
                                        <td>{{ order.order_id }}</td>
                                        <td>{{ order.order_date }}</td>
                                        <td>{{ order.client_id }}</td>
                                        <td>{{ order.order_status }}</td>
                                    </tr>
                                 {% endfor %}
                           </tbody>
                           </table>
                             {% else %}
                                 <p>У сотрудника нет заказов</p>
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
      <a href="{{ url_for('add_employee') }}" class="btn btn-primary my-3">Add Employee</a>

    <!-- Deliveries -->
    <h2>Поставки</h2>
    <table class="table table-bordered" id="deliveries">
        <thead>
            <tr>
                <th>Delivery ID</th>
                <th>Delivery Date</th>
                <th>Supplier ID</th>
                <th>Employee ID</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.delivery_id }}</td>
                <td>{{ delivery.delivery_date }}
                <a class="toggle-details" data-target="delivery-{{ delivery.delivery_id }}" style="cursor: pointer">Просмотреть детали поставки</a></td>
                <td>{{ delivery.supplier_id}}</td>
                <td>{{ delivery.employee_id }}</td>
                <td><a href="{{ url_for('edit_delivery', delivery_id=delivery.delivery_id) }}" class="btn btn-sm btn-primary">Edit</a></td>
                <td>
                    <form action="{{ url_for('delete_delivery', delivery_id=delivery.delivery_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
             <tr class="details" id="delivery-{{ delivery.delivery_id }}" style="display: none">
              <td colspan="5">
                  <h3>Детали поставки №{{ delivery.delivery_id }}</h3>
                    {% if delivery.delivery_details.all() %}
                    <table class="table table-bordered">
                        <thead>
                             <tr>
                                 <th>ID</th>
                                 <th>ID продукта</th>
                                 <th>Количество</th>
                                <th>Цена покупки</th>
                            </tr>
                        </thead>
                         <tbody>
                             {% for delivery_detail in delivery.delivery_details.all() %}
                                <tr>
                                     <td>{{ delivery_detail.delivery_detail_id }}</td>
                                    <td>{{ delivery_detail.product_id }}</td>
                                      <td>{{ delivery_detail.quantity }}</td>
                                     <td>{{ delivery_detail.purchase_price }}</td>
                                  </tr>
                             {% endfor %}
                         </tbody>
                       </table>
                     {% else %}
                        <p>В поставке нет деталей</p>
                    {% endif %}
                  </td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_delivery') }}" class="btn btn-primary my-3">Add Delivery</a>

    <!-- Bouquets -->
    <h2>Букеты</h2>
    <table class="table table-bordered" id="bouquets">
        <thead>
            <tr>
                <th>Bouquet ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for bouquet in bouquets %}
            <tr>
                <td>{{ bouquet.bouquet_id }}</td>
                <td>{{ bouquet.name }}
                <a class="toggle-details" data-target="bouquet-{{ bouquet.bouquet_id }}" style="cursor: pointer">Просмотреть продукты</a></td>
                <td>{{ bouquet.price }}</td>
                <td>{{ bouquet.description }}</td>
                 <td>
                    <a href="{{ url_for('edit_bouquet', bouquet_id=bouquet.bouquet_id) }}" class="btn btn-sm btn-primary">Edit</a>
                 </td>
                <td>
                    <form action="{{ url_for('delete_bouquet', bouquet_id=bouquet.bouquet_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
             <tr class="details" id="bouquet-{{ bouquet.bouquet_id }}" style="display: none">
                 <td colspan="5">
                        <h3>Продукты букета {{ bouquet.name }}</h3>
                          {% if bouquet.products.all() %}
                            <table class="table table-bordered">
                            <thead>
                              <tr>
                                   <th>ID</th>
                                    <th>Название</th>
                                    <th>Цена</th>
                                </tr>
                            </thead>
                           <tbody>
                                 {% for product in bouquet.products.all() %}
                                   <tr>
                                        <td>{{ product.product_id }}</td>
                                         <td>{{ product.product_name }}</td>
                                        <td>{{ product.unit_price }}</td>
                                    </tr>
                                 {% endfor %}
                             </tbody>
                           </table>
                         {% else %}
                           <p>В букете нет продуктов</p>
                         {% endif %}
                    </td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
   <a href="{{ url_for('add_bouquet') }}" class="btn btn-primary my-3">Add Bouquet</a>

    <!-- Flowers -->
    <h2>Цветы</h2>
    <table class="table table-bordered" id="flowers">
        <thead>
            <tr>
                <th>Flower ID</th>
                <th>Shelf Life (Days)</th>
                <th>Description</th>
                <th>Price</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for flower in flowers %}
            <tr>
                <td>{{ flower.flower_id }}</td>
                <td>{{ flower.shelf_life }}
                 <a class="toggle-details" data-target="flower-{{ flower.flower_id }}" style="cursor: pointer">Просмотреть продукты</a></td>
                <td>{{ flower.description }}</td>
                <td>{{ flower.price }}</td>
                <td>
                 <a href="{{ url_for('edit_flower', flower_id=flower.flower_id) }}" class="btn btn-sm btn-primary">Edit</a>
                </td>
                <td>
                    <form action="{{ url_for('delete_flower', flower_id=flower.flower_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
              <tr class="details" id="flower-{{ flower.flower_id }}" style="display: none">
                  <td colspan="5">
                      <h3>Продукты цветка {{ flower.flower_id }}</h3>
                       {% if flower.products.all() %}
                         <table class="table table-bordered">
                         <thead>
                          <tr>
                               <th>ID</th>
                                <th>Название</th>
                                <th>Цена</th>
                           </tr>
                          </thead>
                          <tbody>
                           {% for product in flower.products.all() %}
                                <tr>
                                     <td>{{ product.product_id }}</td>
                                    <td>{{ product.product_name }}</td>
                                    <td>{{ product.unit_price }}</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                       {% else %}
                         <p>У цветка нет продуктов</p>
                       {% endif %}
                  </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_flower') }}" class="btn btn-primary my-3">Add Flower</a>

    <!-- Additional Materials Section -->
    <h2>Дополнительные материалы</h2>
    <table class="table table-bordered" id="additional_materials">
        <thead>
            <tr>
                <th>Material ID</th>
                <th>Description</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for material in additional_materials %}
            <tr>
                <td>{{ material.material_id }}</td>
                <td>{{ material.description }}
                  <a class="toggle-details" data-target="material-{{ material.material_id }}" style="cursor: pointer">Просмотреть продукты</a></td>
                 <td>
                      <a href="{{ url_for('edit_additional_material', material_id=material.material_id) }}" class="btn btn-sm btn-primary">Edit</a>
                  </td>
                <td>
                    <form action="{{ url_for('delete_material', material_id=material.material_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
              </tr>
                 <tr class="details" id="material-{{ material.material_id }}" style="display: none">
                     <td colspan="3">
                      <h3>Продукты материала {{ material.description }}</h3>
                        {% if material.products.all() %}
                           <table class="table table-bordered">
                                <thead>
                                  <tr>
                                       <th>ID</th>
                                        <th>Название</th>
                                        <th>Цена</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  {% for product in material.products.all() %}
                                    <tr>
                                         <td>{{ product.product_id }}</td>
                                          <td>{{ product.product_name }}</td>
                                          <td>{{ product.unit_price }}</td>
                                      </tr>
                                   {% endfor %}
                             </tbody>
                           </table>
                         {% else %}
                           <p>У материала нет продуктов</p>
                         {% endif %}
                    </td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
       <a href="{{ url_for('add_material') }}" class="btn btn-primary my-3">Add Material</a>

    <!-- Products Section -->
    <h2>Продукты</h2>
    <table class="table table-bordered" id="products">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Bouquet</th>
                <th>Flower</th>
                <th>Material</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.unit_price }}</td>
                <td>{{ product.bouquet.name }}</td>
                <td>{{ product.flower.description }}</td>
                <td>{{ product.material.description  }}</td>
                  <td>
                    <a href="{{ url_for('edit_product', product_id=product.product_id) }}" class="btn btn-sm btn-primary">Edit</a>
                  </td>
                    <td>
                    <form action="{{ url_for('delete_product', product_id=product.product_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <a href="{{ url_for('add_product') }}" class="btn btn-primary my-3">Add Product</a>

    <!-- Clients Section -->
    <h2>Клиенты</h2>
     <table class="table table-bordered" id="clients">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Phone Number</th>
                <th>First Order Date</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.client_id }}</td>
                <td>{{ client.full_name }}
                 <a class="toggle-details" data-target="client-{{ client.client_id }}" style="cursor: pointer">Просмотреть заказы</a></td>
                <td>{{ client.age }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.first_order_date }}</td>
                 <td>
                     <a href="{{ url_for('edit_client', client_id=client.client_id) }}" class="btn btn-sm btn-primary">Edit</a>
                 </td>
                <td>
                    <form action="{{ url_for('delete_client', client_id=client.client_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <tr class="details" id="client-{{ client.client_id }}" style="display: none">
                 <td colspan="6">
                       <h3>Заказы клиента {{ client.full_name }}</h3>
                         {% if client.orders.all() %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                       <th>ID</th>
                                        <th>Дата заказа</th>
                                        <th>ID сотрудника</th>
                                        <th>Статус заказа</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                 {% for order in client.orders.all() %}
                                     <tr>
                                       <td>{{ order.order_id }}</td>
                                        <td>{{ order.order_date }}</td>
                                         <td>{{ order.employee_id }}</td>
                                         <td>{{ order.order_status }}</td>
                                    </tr>
                                   {% endfor %}
                               </tbody>
                          </table>
                           {% else %}
                             <p>У клиента нет заказов</p>
                            {% endif %}
                     </td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
  <a href="{{ url_for('add_client') }}" class="btn btn-primary my-3">Add Client</a>

    <!-- Orders Section -->
   <h2>Заказы</h2>
    <table class="table table-bordered" id="orders">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Client</th>
                <th>Employee</th>
                <th>Status</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.order_date }}
                <a class="toggle-details" data-target="order-{{ order.order_id }}" style="cursor: pointer">Просмотреть детали заказа/оплаты</a></td>
                <td>{{ order.client.full_name }}</td>
                <td>{{ order.employee.employee_name }}</td>
                <td>{{ order.order_status }}</td>
                 <td>
                     <a href="{{ url_for('edit_order', order_id=order.order_id) }}" class="btn btn-sm btn-primary">Edit</a>
                 </td>
                <td>
                    <form action="{{ url_for('delete_order', order_id=order.order_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
             <tr class="details" id="order-{{ order.order_id }}" style="display: none">
                  <td colspan="6">
                     <h3>Детали заказа №{{ order.order_id }}</h3>
                      {% if order.order_details.all() %}
                       <table class="table table-bordered">
                         <thead>
                             <tr>
                                 <th>ID</th>
                                 <th>ID продукта</th>
                                 <th>Количество</th>
                                <th>Цена покупки</th>
                             </tr>
                         </thead>
                        <tbody>
                             {% for order_detail in order.order_details.all() %}
                                 <tr>
                                     <td>{{ order_detail.order_detail_id }}</td>
                                     <td>{{ order_detail.product_id }}</td>
                                     <td>{{ order_detail.quantity }}</td>
                                     <td>{{ order_detail.purchase_price }}</td>
                                 </tr>
                                {% endfor %}
                         </tbody>
                      </table>
                     {% else %}
                          <p>В заказе нет деталей</p>
                       {% endif %}
                        <h3>Оплаты заказа №{{ order.order_id }}</h3>
                          {% if order.payments.all() %}
                             <table class="table table-bordered">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>Дата оплаты</th>
                                        <th>Сумма</th>
                                        <th>Метод оплаты</th>
                                      </tr>
                                 </thead>
                                <tbody>
                                    {% for payment in order.payments.all() %}
                                        <tr>
                                            <td>{{ payment.payment_id }}</td>
                                             <td>{{ payment.payment_date }}</td>
                                             <td>{{ payment.amount }}</td>
                                              <td>{{ payment.payment_method }}</td>
                                        </tr>
                                      {% endfor %}
                                </tbody>
                           </table>
                           {% else %}
                             <p>У заказа нет оплат</p>
                           {% endif %}
                      </td>
                   </tr>
            {% endfor %}
        </tbody>
    </table>
     <a href="{{ url_for('add_order') }}" class="btn btn-primary my-3">Add Order</a>

   <!-- Payments Section -->
    <h2>Оплаты</h2>
    <table class="table table-bordered" id="payments">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Order ID</th>
                <th>Payment Date</th>
                <th>Amount</th>
                <th>Payment Method</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.payment_id }}</td>
                <td>{{ payment.order_id }}</td>
                <td>{{ payment.payment_date }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.payment_method }}</td>
                 <td>
                   <a href="{{ url_for('edit_payment', payment_id=payment.payment_id) }}" class="btn btn-sm btn-primary">Edit</a>
                 </td>
                <td>
                    <form action="{{ url_for('delete_payment', payment_id=payment.payment_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <a href="{{ url_for('add_payment') }}" class="btn btn-primary my-3">Add Payment</a>

    <!-- Delivery Details Section -->
    <h2>Детали поставок</h2>
    <table class="table table-bordered" id="delivery_details">
        <thead>
            <tr>
                <th>Delivery Detail ID</th>
                <th>Delivery ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Purchase Price</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery_detail in delivery_details %}
            <tr>
                <td>{{ delivery_detail.delivery_detail_id }}</td>
                <td>{{ delivery_detail.delivery_id }}</td>
                <td>{{ delivery_detail.product.product_name }}</td>
                <td>{{ delivery_detail.quantity }}</td>
                <td>{{ delivery_detail.purchase_price }}</td>
                 <td>
                      <a href="{{ url_for('edit_delivery_detail', delivery_detail_id=delivery_detail.delivery_detail_id) }}" class="btn btn-sm btn-primary">Edit</a>
                 </td>
                 <td>
                    <form action="{{ url_for('delete_delivery_detail', delivery_detail_id=delivery_detail.delivery_detail_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <a href="{{ url_for('add_delivery_detail') }}" class="btn btn-primary my-3">Add Delivery Detail</a>

    <!-- Order Details Section -->
    <h2>Детали заказов</h2>
    <table class="table table-bordered" id="order_details">
        <thead>
            <tr>
                <th>Order Detail ID</th>
                <th>Order ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Purchase Price</th>
                 <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order_detail in order_details %}
            <tr>
                <td>{{ order_detail.order_detail_id }}</td>
                <td>{{ order_detail.order.order_id }}</td>
                <td>{{ order_detail.product.product_name }}</td>
                <td>{{ order_detail.quantity }}</td>
                <td>{{ order_detail.purchase_price }}</td>
                 <td>
                      <a href="{{ url_for('edit_order_detail', order_detail_id=order_detail.order_detail_id) }}" class="btn btn-sm btn-primary">Edit</a>
                 </td>
                <td>
                    <form action="{{ url_for('delete_order_detail', order_detail_id=order_detail.order_detail_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_order_detail') }}" class="btn btn-primary my-3">Add Order Detail</a>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
         const togglers = document.querySelectorAll('.toggle-details');
         togglers.forEach(toggler => {
          toggler.addEventListener('click', function(event) {
            event.preventDefault();
            const targetId = this.getAttribute('data-target');
            const target = document.getElementById(targetId);
                if (target.style.display === 'none') {
                    target.style.display = 'table-row';
                } else {
                    target.style.display = 'none';
                 }
              });
          });
        </script>
</body>
</html>