<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Create Order</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="my-4">Создать заказ</h1>
          {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST">
           <div class="form-group">
                <label for="order_date">Дата заказа:</label>
                <input type="date" name="order_date" id="order_date" class="form-control" required>
            </div>
              <div class="form-group">
                 <label for="employee_id">Ответственный менеджер:</label>
                 <select name="employee_id" id="employee_id" class="form-control">
                    {% for employee in employees %}
                      <option value="{{ employee.employee_id }}">{{ employee.employee_name }}</option>
                     {% endfor %}
                 </select>
             </div>
              <div class="form-group">
                   <label for="search_product">Поиск продукта:</label>
                    <input type="text" name="search_product" id="search_product" class="form-control"  value="{{ search_product }}">
               </div>
           <h2>Выберите продукты</h2>
                <table class="table table-bordered" id="productsTable">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                                 <tr  data-product-name="{{ product.product_name.lower() }}" >
                                  <td>{{ product.product_id }}
                                   <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                  </td>
                                   <td>{{ product.product_name }}</td>
                                   <td class="product-price">{{ product.unit_price }}</td>
                                   <td>
                                     <input type="number" name="quantity_{{ product.product_id }}" value="0" min="0" class="form-control quantity-input">
                                   </td>
                              </tr>
                        {% endfor %}
                   </tbody>
                 </table>
              <div class="form-group">
                   <label>Сумма заказа: <span id="total-price">{{ total_price }}</span> </label>
              </div>
              <div class="form-group">
                   <label for="payment_method">Метод оплаты:</label>
                   <select name="payment_method" id="payment_method" class="form-control" required>
                       <option value="При получении">При получении</option>
                       <option value="Карта">Карта</option>
                   </select>
              </div>
            <button type="submit" class="btn btn-primary">Оплатить</button>
        </form>
          <br>
         <a href="{{ url_for('user_dashboard') }}">Назад</a>
    </div>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
    $('#search_product').on('keyup', function() {
            const searchText = $(this).val().toLowerCase();
            $('#productsTable tbody tr').each(function() {
                const productName = $(this).data('product-name');
                 if (productName.startsWith(searchText)) {
                     $(this).show();
                 } else {
                    $(this).hide();
                 }
            });
        });
         $('.quantity-input').on('input', function() {
                let total_price = 0;
                $('#productsTable tbody tr:visible').each(function() {
                    const quantity = parseInt($(this).find('.quantity-input').val()) || 0;
                     const price = parseFloat($(this).find('.product-price').text());
                     total_price += quantity * price;
                  });
                $('#total-price').text(total_price.toFixed(2));
         });
         $('.quantity-input').trigger('input');
     });
</script>
</body>
</html>