<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Edit Profile</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="my-4">Редактировать профиль</h1>
        {% if user %}
           <p><strong>Возраст:</strong> {{ user.age }}</p>
           <p><strong>Дата первого заказа:</strong> {{ user.first_order_date }}</p>
          <form method="POST">
              <div class="form-group">
                <label for="full_name">ФИО:</label>
                <input type="text" name="full_name" id="full_name" class="form-control" value="{{ user.full_name }}" required>
              </div>
              <div class="form-group">
                 <label for="phone_number">Телефон:</label>
                <input type="text" name="phone_number" id="phone_number" class="form-control" value="{{ user.phone_number }}" required>
              </div>
              <button type="submit" class="btn btn-primary">Сохранить изменения</button>
           </form>
            <br>
            <a href="{{ url_for('user_dashboard') }}">Назад</a>
       {% else %}
            <p>Пользователь не найден</p>
       {% endif %}

     </div>
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>