<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Most Popular Products Report</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Most Popular Products Report</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="my-4">Наиболее популярные товары</h1>
         <form method="GET" class="mb-3">
           <div class="form-group">
             <label for="order_count">Количество заказов:</label>
             <input type="number" name="order_count" id="order_count" class="form-control" value="{{ order_count or ''}}" min="1"  required>
           </div>
            <button type="submit" class="btn btn-primary">Показать</button>
        </form>
           {% if popular_products %}
                <table class="table table-bordered">
                 <thead>
                    <tr>
                     <th>Название продукта</th>
                       <th>Количество заказов</th>
                    </tr>
                   </thead>
                    <tbody>
                        {% for product, count in popular_products.items() %}
                           <tr>
                              <td>{{ product }}</td>
                              <td>{{ count }}</td>
                           </tr>
                         {% endfor %}
                   </tbody>
               </table>
               {% else %}
                 <p>Нет заказов</p>
              {% endif %}
         <br>
             <a href="{{ url_for('user_dashboard') }}">Назад</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>